<div class="card shadow-lg w-50 mx-auto mt-4 rounded-3">
  <div class="card-header text-white bg-primary">
    <h5 class="mb-0 text-center">Ajouter un Sector</h5>
  </div>
  <div class="p-4">
    <div *ngIf="errorMsg.length" class="alert alert-danger mt-2" role="alert">
      <p class="m-0" *ngFor="let msg of errorMsg">{{ msg }}</p>
    </div>
    <hr>
    <form>
      <div class="mb-3">
        <label for="name" class="form-label">Nom de Sector</label>
        <input [(ngModel)]="sectorRequest.name" type="text" class="form-control" id="name" name="name" placeholder="Entrez le nom de Sector">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea [(ngModel)]="sectorRequest.description" class="form-control" name="description" id="description" rows="4" placeholder="Entrez votre texte"></textarea>
      </div>
      <div class="text-center mt-4">
        <button (click)="saveSector()" type="submit" class="btn btn-success fw-bold px-4">
          <i class="bi bi-check-circle"></i> Enregistrer
        </button>
      </div>
    </form>
  </div>
</div>
